*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    height: 100vh;
}

.square{
    position: relative;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 40px;

   background: #57C785;
background: linear-gradient(75deg, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    border: 1px solid #000;
    border-radius: 50%;

    text-align: center;
    line-height: 100px;

    animation-name: animate;
    animation-duration: 0.5s;
    animation-iteration-count: initial;
}

@keyframes animate {
    0%, 100%{
        bottom: 0;
    }

    50%{
        bottom: 300px;
    }
}